body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #333333;
    background-color: #f4ebdc; /** I intentionally chose this color to match exactly with the Tableau dashboard's background color **/
}

li{
    font-weight: normal;
    font-size: 14px;
}

.listHeading{
    font-weight: bold;
    font-size: 15px;
}

a {text-decoration: none;}

a:hover {text-decoration: underline;}